/*
Theme Name: Ollie Child - De Glaswand
Theme URI: https://deglaswand.nl
Description: Custom child theme for De Glaswand based on Ollie FSE theme
Author: Clickwave
Author URI: https://clickwave.nl
Template: ollie
Version: 1.0.0
Text Domain: ollie-child
*/
